@charset "UTF-8";

@font-face {
    font-family: 'Got';
    src: url('https://fabyanroger.github.io/got/fontes/game-of-thrones.ttf');
    font-weight: normal;
}

:root {
    --cor0: #F2F2F2;
    --cor1: #91C4D9;
    --cor2: #4B8CA6;
    --cor3: #2C5773;
    --cor4: #1A3140;
    --cor5: #B4A8A8;
    --font-padrao: Helvetica Neue, Helvetica, Arial, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-got: 'Got', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'got';
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header>h1 {
    color: black;
    font-family: var(--fonte-got);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.31);
}

header>p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: black;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.31);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.385);
}

nav a {
    color: #b0def3;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .6s;
}

nav>a:hover {
    background-color: #2c5773;
    color: black;
}

main {
    min-width: 300px;
    max-width: 850px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.449);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

main h1 {
    color: var(--cor4);
    font-family: var(--fonte-got);
    font-weight: bold;
    font-size: 1.5em;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-got);
    font-weight: bold;
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor1), var(--cor5), transparent);
    text-indent: 8px;
}

main a {
    color: var(--cor3);
    padding: 2px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .6s;
}

main a:hover {
    background-color: var(--cor1);
    color: black;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.3em;
}

main img {
    width: 100%;
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
    border-radius: 2px;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-image: linear-gradient(to right, var(--cor2), var(--cor4), var(--cor2));
    color: white;
    text-align: center;
    font-size: .9em;
    padding: 5px;
}

.game-list {
    background-image: linear-gradient(to right, #91c3d95e, #b4a8a83d, #91c3d95e);
    padding: 15px 5px 15px 40px;
    margin: auto;
}

/*PAGE 2*/
ol {
    color: black;
    font-family: var(--fonte-padrao);
    padding-left: 30px;
    border-radius: 0px 25px 0px 25px;
}

ul ol {
    list-style-type: none;
}

li {
    position: relative;
    list-style-type: none;
}

li:before {
    content: "•";
    color: black;
    position: absolute;
    left: -20px;
}

a {
    font-size: 1.02em;
}

audio {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}